QUICKDROP_PASSWORD=changeme
QUICKDROP_SECRET_KEY=change-this-to-a-random-string
QUICKDROP_UPLOAD_DIR=./uploads
QUICKDROP_MAX_FILE_MB=500
QUICKDROP_MAX_STORAGE_GB=10
QUICKDROP_EXPIRE_DAYS=7
QUICKDROP_VAULT_DIR=./vault
QUICKDROP_MAX_VAULT_GB=10
